@use '@/styles/mixins' as *;

.home {
  background-color: var(--gray-scale-light);
  min-height: 100vh;
}

.main {
  width: 100%;
  @include flex(column, flex-start, center);

  &__welcome {
    width: calc(100% - 30px);
    background-color: var(--light-color);
    padding: 15px;
    margin: 15px 15px 0 15px;
    border-radius: 25px; 
    @include flex(row, flex-start, center);
    @include box-shadow;

    &__image {
      border-radius: 100%;
      margin-right: 15px;   
    }

    &__texts {
      width: calc(100% - 105px);
      @include flex(column, space-between, flex-start);
      height: 90px;

      &__title {
        font-size: 2rem;
        font-weight: var(--font-bold);
        color: var(--dark-color);
        @include text-truncate;
      }

      &__div {
        width: 100%;
        height: 1px;
        background-color: var(--gray-scale);
        border-radius: 2px;
        margin: 5px 0;
      }

      &__address_container {
        width: 100%;
        max-height: 100%;
        @include flex(row, space-between, center);
        
        &__address {
          font-weight: var(--font-medium);

          &__title {
            font-size: 1.2rem;
            color: var(--dark-color);
            @include text-truncate;
          }

          &__description {
            font-size: 1rem;
            color: var(--gray-scale-dark);
            @include text-truncate(2);
          }
        }

        &__arrow {
          transform: rotate(180deg);
          font-size: 1rem;
          color: var(--gray-scale);
        }
      }
    }
  }

  &__categories { 
    margin-top: 20px;
    width: calc(100% - 70px);
    @include flex(column, center, center);
    background-color: var(--light-color);
    @include box-shadow;
    border-radius: 25px;

    &__title {
      font-size: 1.8rem;
      font-weight: var(--font-bold);
      color: var(--dark-color);
      margin: 10px 0;
    }
  }
}