// Cores
$primary-color: #50FAF3;
$secondary-color: #36ADA5;
$tertiary-color: #A3FAF7;
$dark-color: #193B3A;
$light-color: #FFFFFF;
$contrast-color: #FCFFB0;
$gray-scale: #B2B2B2;
$gray-scale-light: #F2F2F2;
$gray-scale-dark: #666666;
$success-color: #5CDA9D;
$danger-color: #FC7878;

// Fontes
$font-family: var(--font-roboto), sans-serif;
$font-family-alt: var(--font-lato), sans-serif;

// Peso das fontes
$font-medium: 500;
$font-bold: 700;
