@use '@/styles/mixins' as *;

.park_container {  
  width: calc(100% - 70px);
  min-width: 360px;
  position: relative;
  z-index: 3;
  top: -190px;

  &__header {
    @include flex(row, space-between, center);
    margin-bottom: 15px;

    &__title {
      font-size: 2.4rem;
      font-weight: var(--font-bold);
      color: var(--dark-color);
    }

    &__icon {
      color: var(--dark-color);
      font-size: 3rem;
      cursor: pointer;  
    }
  }

  &__body {
    @include flex(column, flex-start, center);
    gap: 10px;
  }
}