@use '@/styles/mixins' as *;

.welcome {
  width: calc(100% - 30px);
  background-color: var(--light-color);
  padding: 15px;
  margin: 15px 15px 0 15px;
  border-radius: 25px; 
  @include flex(row, flex-start, center);
  @include box-shadow;

  &__image {
    border-radius: 100%;
    margin-right: 15px;   
  }

  &__texts {
    width: calc(100% - 105px);
    @include flex(column, space-between, flex-start);
    height: 90px;

    &__title {
      font-size: 2rem;
      font-weight: var(--font-bold);
      color: var(--dark-color);
      @include text-truncate;
    }

    &__email {
      @include flex(row, center, center);
      margin-top: 4px;
      gap: 2px;
      color: var(--secondary-color);
      font-size: 1.4rem;

      &__text {
        font-size: 1.4rem;
        font-weight: var(--font-medium);
        @include text-truncate;
      }
    }

    &__div {
      width: 100%;
      height: 1px;
      background-color: var(--gray-scale);
      border-radius: 2px;
      margin: 5px 0;
    }

    &__under_bar {
      width: 100%;
      max-height: 100%;
      @include flex(row, space-between, center);
      
      &__address {
        font-weight: var(--font-medium);

        &__title {
          font-size: 1.2rem;
          color: var(--dark-color);
          @include text-truncate;
        }

        &__description {
          font-size: 1rem;
          color: var(--gray-scale-dark);
          @include text-truncate(2);
        }

        &__text {  
          font-size: 1.2rem;
          color: var(--dark-color);
          @include text-truncate;

          span {
            font-size: 1rem;
            color: var(--gray-scale-dark);
          }
        }
      }

      &__arrow {
        transform: rotate(180deg);
        font-size: 1rem;
        color: var(--gray-scale);
      }

      &__buttons {
        @include flex(row, flex-start, center);
        gap: 10px;
        margin-bottom: 5px;
        width: 100%;

        &__login, &__register {
          @include flex(row, center, center);
          width: 200px;
          max-width: 200px;
          font-size: 1.6rem;
          font-weight: var(--font-bold);
          border-radius: 10px;
          text-decoration: none;
          padding: 5px 15px;
          cursor: pointer;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          @include transition;
        }

        &__login {
          color: var(--secondary-color);
          background-color: transparent;
          border: 3px solid var(--secondary-color);

          &:is(:hover, :active) {
            background-color: var(--secondary-color);
            color: var(--light-color);
          }
        }

        &__register {
          color: var(--light-color);
          background-color: var(--secondary-color);
          border: 3px solid var(--secondary-color);

          &:is(:hover, :active) {
            background-color: transparent;
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}