@use '@/styles/mixins' as *;

.establishment {
  background-color: var(--gray-scale-light);
  min-height: 100vh;
}

.main {
  position: relative;
  width: 100%;
  @include flex(column, flex-start, center);

  &__establishment_info {
    position: relative;
    @include flex(column, center, center);
    margin-top: 75px;
    color: var(--dark-color);
    font-weight: var(--font-bold);

    &__banner {
      position: relative;
      width: calc(100vw - 15px);
      height: 220px;
      overflow: hidden;

      &__img {
        object-fit: cover;
      }
    }

    &__avatar {
      position: relative;
      z-index: 3;
      top: -160px;
      right: 115px;
      border-radius: 20px;
      border: 5px solid var(--light-color);
    }

    &__info {
      position: relative;
      top: -210px;
      z-index: 2;
      width: 360px;
      background-color: var(--light-color);
      border-radius: 20px;
      padding: 20px;
      @include box-shadow;
      
      &__saved {
        @include flex(row, flex-end, center);
        height: 35px;

        &__icon {
          color: var(--gray-scale);
          height: 35px;
          width: 35px;
        }
      }

      &__name {
        line-height: 1;
        font-size: 2.4rem;
        margin-bottom: 10px;
      }
      
      &__description {
        line-height: 1;
        font-size: 1.2rem;
        color: var(--gray-scale);
        font-weight: var(--font-medium);
      }

      &__div {
        width: 100%;
        height: 1px;
        background-color: var(--gray-scale);
        border-radius: 2px;
        margin: 15px 0;
      }
      
      &__address, &__phone {
        @include flex(row, space-between, center);
        gap: 30px;

        &__texts {
          width: 100%;
          &__title {
            font-size: 1.6rem;
          }

          &__description {
            font-size: 1.2rem;
            font-weight: var(--font-medium);
            margin: 5px 0 0 10px;
          }
        }
        
        &__icon {
          transform: rotate(180deg);
          color: var(--gray-scale);
          cursor: pointer;
        }
      }

      &__read_more {
        font-size: 1.4rem;
        color: var(--secondary-color);
        cursor: pointer;
      }
    }
  }

  &__park_container {  
    width: calc(100% - 70px);
    min-width: 360px;
    position: relative;
    z-index: 3;
    top: -190px;

    &__header {
      @include flex(row, space-between, center);
      margin-bottom: 15px;

      &__title {
        font-size: 2.4rem;
        font-weight: var(--font-bold);
        color: var(--dark-color);
      }

      &__icon {
        font-size: 2.4rem;
        color: var(--dark-color);
      }
    }

    &__body {
      @include flex(column, flex-start, center);
      gap: 10px;
    }
  }
}