@use '@/styles/mixins' as *;

$mobile-l: 415px;
$tablet: 768px;

.auth {
  background-image: url("/images/Background1.png");
  background-size:  auto 100vh;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: visible;
  color: var(--light-color);

  @media screen and (min-width: $tablet) {
    background-image: url("/images/Background2.jpg");
  }

   &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(54, 173, 165, 0.4);
    z-index: 1;
  }
}

.background {
  height: 100vh;
  width: 100vw;
  @include flex(column, center, center);
}

.main {
  z-index: 100;
  @include flex(column, center, center);
  justify-content: space-around;
  background-color: rgba(25, 59, 58, 0.7);

  height: 85vh;
  width: 70vw;
  border-radius: 20px;
  padding: 40px 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;     
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;       
    border: 3px solid var(--dark-color);  
  }
  
  &__welcome {
    @include flex(column, center, center);
    align-items: center;   
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;

    &__image {
      max-width: 170px;
      max-height: 142px;
      aspect-ratio: 1 / 1;

      @media screen and (min-width: $tablet) {
        width: 30vw;
        max-width: 300px;
      }
    }

    &__text {
      font-size: 2rem;
      font-weight: var(--font-medium);

      span {
        font-weight: var(--font-bold);
      }
    }
  }

  &__div {
    background-color: var(--light-color);
    width: 80%;
    max-width: 400px;
    height: 2px;
    border-radius: 2px;
    margin: 0 auto;
  }

  &__auth {
    @include flex(column, center, center);
    align-items: center;
    margin-top: 20px;

    &__title {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 30px;
    }

    &__form {
      @include flex(column, center, center);

      &__inputs {
        @include flex(column, center, center);
        justify-content: space-around;
        gap: 20px;
      }
    }

    &__button {
      color: var(--dark-color);
      border: 3px solid var(--light-color);
      background-color: var(--light-color);
      border-radius: 10px;
      font-size: 1.6rem;
      font-weight: var(--font-bold);
      padding: 5px 20px;
      cursor: pointer;
      margin-top: 30px;
      @include transition;

      &:hover {
        background-color: transparent;
        color: var(--light-color);
      }

      &:active {
        background-color: rgba(255, 255, 236, 0.33);
        color: var(--light-color);
      }
    }

    &__link {
      font-size: 1.2rem;
      text-decoration: underline;
      color: var(--light-color);
      margin-top: 5px;
      cursor: pointer;
      @include transition;

      &:hover {
        color: var(--gray-scale);
      }
    }
  }

  &__social_medias {
    @include flex(column, center, center);
    align-items: center;
    font-size: 1.4rem;
    margin-top: 40px;

    &__text {
      font-weight: var(--font-bold);
      margin-bottom: 10px;
    }

    &__icons {
      @include flex(row, flex-start, center);
      gap: 10px;
      cursor: pointer;

      &__icon_container {
        @include flex(row, center, center);
        border: 3px solid var(--light-color);
        border-radius: 10px;
        height: 40px;
        width: 40px;

        &__icon {
          font-size: 2rem;
        }
      }
    }
  }
}