@use '@/app/styles/mixins' as *;

.park_counter {
  @include flex(column, space-between, center);
  padding: 5px;
  height: 30px;
  background-color: var(--success-color);
  border-radius: 5px;
  
  &__text {
    line-height: 1;
    font-size: 0.8rem;
    font-weight: var(--font-bold);
  }
  &__full {
    background-color: var(--danger-color);
  }
}