@use '@/styles/mixins' as *;

.slot_card {
  @include flex(row, space-between, center);
  width: 100%;
  height: 60px;
  background-color: var(--light-color);
  padding: 7px;
  border-radius: 10px;
  @include box-shadow;

  &__info {
    @include flex(column, space-between, flex-start);
    height: 100%;
    font-weight: var(--font-bold);

    &__name {
      font-size: 1.5rem;
      color: var(--dark-color);
      @include text-truncate;
    }

    &__type {
      font-size: 1.1rem;
      color: var(--secondary-color);
    }
  }
  
  &__status {
    @include flex(column, space-between, flex-end);
    height: 100%;
    
    &__text {
      font-size: 1rem;
      color: var(--success-color);
      font-weight: var(--font-bold);

      &__ocupped {
        color: var(--danger-color);
      }
    }

    &__icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--success-color);

      &__ocupped {
        background-color: var(--danger-color);
      }
    }
    
  }
}